
#commands-title {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #5F9EA0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

#resetCell-button{
    -fx-font-size: 12px;
    -fx-background-color: #5F9EA0  ;
    -fx-text-fill: white;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}

#resetCell-button:hover {
    -fx-background-color: #468284;
}

#sortOrFilter-title {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #6CB8AE;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

#enterRange-title{
    -fx-font-size: 12px;
    -fx-background-color: #ADD9D8;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2);
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

.commands-button{
    -fx-font-size: 12px;
    -fx-background-color: #66CCCC;
    -fx-text-fill: white;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}

.commands-button:hover {
    -fx-background-color: #5BB5B3;
}

.root{
    -fx-background-color: #FFFFFF;
}